<div id="<%= dom_id intake_entry %>">
  <p>
    <strong>Consumed:</strong>
    <%= intake_entry.consumed %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= intake_entry.note %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= intake_entry.timestamp %>
  </p>

  <p>
    <strong>Diary:</strong>
    <%= intake_entry.diary_id %>
  </p>

</div>
