<p class="text-success mb-4"><%= notice %></p>
<div class="d-flex align-items-center justify-content-between">
  <h2>Note Entries</h2>
  <%= link_to 'New Note Entry', new_note_entry_path, class: "btn btn-primary" %>
</div>
<% if @note_entries && @note_entries.length > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% #TODO this will be WAAAAY too big if we render the whole note here! Applies for every object with note. Omit, and in this model, add a title string. %>
        <th scope="col">
          Note
        </th>
        <th scope="col">
          Timestamp
        </th>
        <th scope="col">
          Diary
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% @note_entries.each do |note_entry| %>
        <tr>
          <td>
            <%= note_entry.note %>
          </td>
          <td>
            <%= note_entry.timestamp %>
          </td>
          <td>
            <%= note_entry.diary.name %>
          </td>
          <td>
            <%= link_to "View", note_entry, class: "link link-secondary" %>
            <span class="text-secondary"> |</span>
            <%= link_to "Edit", edit_note_entry_path(note_entry), class: "link link-secondary" %>
            <span class="text-secondary"> |</span>
            <%= button_to "Delete", note_entry, method: :delete, class: "link link-danger", style: "text-decoration:underline;padding:0;background:none; border:none;", form: { style: "display:inline-block;" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%
    if @note_entries && (@note_entries_total.is_a? Integer) && @note_entries_total > 0
      d_id = params.has_key?(:diary_id) ? params[:diary_id] + '&' : ''
      from = params.has_key?(:from) ? params[:from].to_i : 0
      to = params.has_key?(:to) ? params[:to].to_i : 9
      step = from - to
  %>
<div>
  <nav aria-label="Page navigation">
    <ul class="pagination flex-wrap">
      <% (0..@note_entries_total).step(step) do |n| -%>
        <li class="page-item <%= to == n ? 'active': ''%>">
          <a class="page-link"
            href="<%= note_entries_path %>?<%= d_id %><%= 'from=' + (n + step).to_s + '&'%><%= 'to=' + n.to_s %>"><%= n/step + 1 %>
          </a>
        </li>
      <% end -%>
    </ul>
  </nav>
</div>
<% end %>
<% if (!@note_entries || (@note_entries && @note_entries.length == 0)) && (!@note_entries_total || (@note_entries_total && @note_entries_total == 0)) %>
  <p class="mt-2 text-secondary">No Note Entry created yet. Click New Note Entry to get started.</p>
<% end %>
