<div id="<%= dom_id body_entry %>">
  <p>
    <strong>Height:</strong>
    <%= body_entry.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= body_entry.weight %>
  </p>

  <p>
    <strong>Fat mass:</strong>
    <%= body_entry.fat_mass %>
  </p>

  <p>
    <strong>Muscle mass:</strong>
    <%= body_entry.muscle_mass %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= body_entry.note %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= body_entry.timestamp %>
  </p>

  <p>
    <strong>Diary:</strong>
    <%= body_entry.diary_id %>
  </p>

</div>
