<%= form_with(model: body_entry) do |form| %>
  <% if body_entry.errors.any? %>
    <div class="p-3 mb-3 bg-warning">
      <h2 class="h6 fw-bold"><%= pluralize(body_entry.errors.count, "error") %> prohibited this diary from being saved:</h2>
      <ul class="mb-1">
        <% body_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-2">
    <%= form.label :height, class: "form-label d-block" %>
    <%= form.text_field :height, class: "form-control", type: "number", step: "0.01" %>
  </div>
  <div class="mb-2">
    <%= form.label :weight, class: "form-label d-block" %>
    <%= form.text_field :weight, class: "form-control", type: "number", step: "0.01"  %>
  </div>
  <div class="mb-2">
    <%= form.label :fat_mass, class: "form-label d-block" %>
    <%= form.text_field :fat_mass, class: "form-control", type: "number", step: "0.01"  %>
  </div>
  <div class="mb-2">
    <%= form.label :muscle_mass, class: "form-label d-block" %>
    <%= form.text_field :muscle_mass, class: "form-control", type: "number", step: "0.01"  %>
  </div>
  <div class="mb-2">
    <%= form.label :note, class: "form-label d-block" %>
    <%= form.text_area :note, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= form.label :timestamp, class: "form-label d-block" %>
    <%= form.datetime_field :timestamp, class: "form-control", placeholder: "YYYY-MM-DDTHH:MM:SS",
    pattern: "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}" %>
  </div>
  <div class="mb-2">
    <%= form.label :diary_id, class: "form-label d-block" %>
    <%= form.text_field :diary_id, class: "form-control" %>
  </div>
  <div>
    <% # TODO this should be renamed to Fitness Entry %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
