<div id="<%= dom_id exercise_entry %>">
  <p>
    <strong>Complete:</strong>
    <%= exercise_entry.complete %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= exercise_entry.note %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= exercise_entry.timestamp %>
  </p>

  <p>
    <strong>Diary:</strong>
    <%= exercise_entry.diary_id %>
  </p>

</div>
