<p class="text-success mb-4"><%= notice %></p>
<h2><%= @diary.name %></h2>
<div class="border-top border-bottom border-secondary py-2">
  <%= link_to "Edit", edit_diary_path(@diary), class: "link link-primary" %> |
  <%= link_to "See all", diaries_path, class: "link link-secondary" %> | 
  <%= button_to "Delete", @diary, method: :delete, class: "link link-danger", style: "text-decoration:underline;padding:0;background:none; border:none;", form: { style: "display:inline-block;" } %>
</div>
