<p class="text-success mb-4"><%= notice %></p>
<h2><%= @diary.name %></h2>
<div class="d-flex justify-content-between align-items-center border-top border-bottom border-secondary py-2 my-2">
  <div class="text-secondary">
    <%= link_to "Fitness", body_entries_path(:from => "6", :to=>"0", :diary_id => @diary.id), class: "link link-primary" %> | 
    <%= link_to "Intake", intake_entries_path(:from => "6", :to=>"0", :diary_id => @diary.id), class: "link link-primary" %>
  </div>
  <div>
    <%= link_to "Edit diary", edit_diary_path(@diary), class: "link link-primary" %> |
    <%= link_to "All diaries", diaries_path, class: "link link-secondary" %> | 
    <%= button_to "Delete diary", @diary, method: :delete, class: "link link-danger", style: "text-decoration:underline;padding:0;background:none; border:none;", form: { style: "display:inline-block;" } %>
  </div>
</div>
