<div id="<%= dom_id food_complex %>">
  <p>
    <strong>Name:</strong>
    <%= food_complex.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food_complex.description %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= food_complex.template %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= food_complex.verified %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= food_complex.public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= food_complex.user_id %>
  </p>

</div>
