<div id="<%= dom_id food_simple %>">
  <p>
    <strong>Name:</strong>
    <%= food_simple.name %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= food_simple.calories %>
  </p>

  <p>
    <strong>Fats:</strong>
    <%= food_simple.fats %>
  </p>

  <p>
    <strong>Carbs:</strong>
    <%= food_simple.carbs %>
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= food_simple.proteins %>
  </p>

  <p>
    <strong>Is drink:</strong>
    <%= food_simple.is_drink %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= food_simple.amount %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= food_simple.verified %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= food_simple.public %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food_simple.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= food_simple.user_id %>
  </p>

</div>
