<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <div class="container">
    <%= link_to "iDiary", root_path, class:'navbar-brand fw-bold' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Diaries", diaries_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Fitness Entries", body_entries_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, class:'nav-link', data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
